<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Welcome to Spring Boot</title>
</head>
<body>
    <h1>Form test view data</h1>
    <form action="#" >
        <p>Username <input type="text" /></p>
        <p>Password <input type="password"/></p>
        <p><input type="submit" value="submit"/></p>
    </form>

    <h1>Show list acounts</h1>
    <table border="2">
        <tr>
            <td>id</td>
            <td>Username</td>
            <td>Password</td>
            <td>ManagerID</td>
            <td>Active</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
        <tr th:each="item:${listUser}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.username}"></td>
            <td th:text="${item.password}"></td>
            <td th:text="${item.managerID}"></td>
            <td th:text="${item.active}"></td>
            <td><a th:href="@{/form/server/user/update/{id}(id=${item.id})}">Update</a></td>
            <td><a th:href="@{/form/server/user/delete/{id}(id=${item.id})}">Delete</a></td>
        </tr>
    </table>
</body>
</html>

