<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Manager Category</title>
</head>
<body>
<h1>Form Update Category</h1>
<form action="#" th:action="@{/demo/server/property/update}" th:object="${property}">
    <p><textarea th:field="*{id}" hidden="hidden"/></p>
    <p>Username <input type="text" th:field="*{name}"/></p>
    <p>Description <textarea th:field="*{description}"/></p>
    <p><input type="submit" value="Update"/><input type="reset" value="reset"/></p>

</form>
</body>
</html>

